@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100%);
}

#mapplaceholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100%);
}

.mapboxgl-popup {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  border-radius: 12px;
}

.poiinfo-popup .mapboxgl-popup-content {
  background-color: white;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
}

.button {
  border: none;

  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 10%;
  padding: 8px;

  margin: 5px 0px 20px 20px;

  font-size: 16px;
  text-align: center;
  color: white;
  background: #2f2f2f;

  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 200%;
  background: #3b3b3b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.button span {
  position: relative;
  z-index: 1;
}

#reportrange {
  color: white;
  width: 20vw;
  background: #2f2f2f;
  border-radius: 3px;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);

  cursor: pointer;
  padding: 10px 10px;
}

.map-overlay {
  text-align: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 2.5em;
  z-index: 1;
  padding: 10px;
}

.map-overlay-bottom {
  text-align: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  width: 25%;
  bottom: 0em;
  right: 0em;

  z-index: 1;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #222222;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-bottom .map-overlay-inner {
  background-color: #222222;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2f2f2f;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 10vw;
  height: 3em;
  line-height: 3;
  background: #6e6e6e;
  overflow: hidden;
  border-radius: 0.25em;
  margin-left: 0;
  margin-bottom: 1.5%;
}

#slct {
  flex: 1;
  padding: 0 2.5em;
  color: white;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #858585;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #ee9624;
}

/*** Table Styles **/

.table-fill {
  background: #2f2f2f;
  border-radius: 3px;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
  max-width: 400px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.table-fill th {
  color: #d5dde5;
  background: #2f2f2f;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 5px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.table-fill th:first-child {
  border-top-left-radius: 3px;
}

.table-fill th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

.table-fill tr {
  color: white;
  font-size: 12px;
  border-bottom: 1px solid #c5c5c5;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr:first-child {
  border-top: none;
}

.table-fill tr:last-child {
  border-bottom: none;
}

.table-fill tr:nth-child(odd) td {
  background: #2f2f2f;
}

.table-fill tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

.table-fill tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

.table-fill td {
  background: #4b4b4b;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c5c5c5;
}

.table-fill td:last-child {
  border-right: 0px;
}

.table-fill th.text-center {
  text-align: center;
}

.table-fill td.text-center {
  text-align: center;
}
